{
  "extends": "@blueshyftaustralia/airbnb-extend",
  "rules": {
      "comma-dangle": ["error", {
          "arrays": "ignore",
          "objects": "ignore",
          "imports": "ignore",
          "exports": "ignore",
          "functions": "never"
      }],
      "indent": 0,
      "global-require": 0
  }
}
